#quiz-container { 
    max-width: 500px; 
    height: auto;
    margin: auto; 
    padding: 20px; 
    border: 1px solid #ddd; 
    border-radius: 10px; 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px; 
    width: 100%;
    max-width: 400px;
}


.btn { 
    width: 100%;  
    padding: 15px;
    background: #007BFF; 
    color: white; 
    border: none; 
    cursor: pointer; 
    text-align: center;
    font-size: 16px;
    min-height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    box-sizing: border-box;
    white-space: normal; 
}

.btn:hover { 
    background: #0056b3; 
}